@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test images</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Index", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            <label for="image1">Upload image #1:</label>
            <input type="file" name="image1" id="image1" />
        </p>

        <p>
            <label for="image2">Upload image #2:</label>
            <input type="file" name="image2" id="image2" />
        </p>

        <p>
            <input type="submit" value="Upload" class="submit" />
        </p>
    }
</div>
</body>
</html>