@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тест</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Index", "Test", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <p>
            <label for="image">Изображение:</label>
            <input type="file" name="image" id="image"/>
        </p>

        <p>
            <input type="submit" value="Загрузить" class="submit"/>
        </p>
    }
</div>
</body>
</html>